/* Background Color */
body {
  background: #007bff;
  background: linear-gradient(to right, #0062e6, #33aeff);
}

/* Individual box */
.indBox {
  background-color: white;
  border-radius: 12px;
  /* margin: 3rem auto; */
}

/* Text Alignment for plan & price */
.planname,
.planamount {
  text-align: center;
  margin: 0;
}

/* Plan Name */
.planname {
  padding-top: 15px;
  padding-bottom: 2px;
  color: gray;
  font-size: 13px;
  font-weight: bolder;
  letter-spacing: 1px;
  text-indent: -1rem;
}

/* Plan amount */
.amount {
  font-size:30px;
  font-weight: 500;
}

/* Horizontal line */
hr {
  width: 11rem;
  border: -1px ridge grey;
  margin: 4px auto;
}

/* Ordered lists */
ol {
  list-style-type: none;
  padding-left: 10px;
  line-height: 30px;
  font-size: 0.8rem;
}

/* Icons  */
.fa-times {
  margin-left: 5px;
}

/* list points */
li > span {
  margin-left: 8px;
}

/* NonBenefits saturation */
.nobenefits {
  opacity: 0.8;
}

/* Buttons */
button {
  width: 90%;
  height: 2rem;
  margin: 5px 9px;
  border-radius: 20px !important;
  background-color: rgb(123, 182, 209) !important;
  border-style: none !important;
  font-size: 10px !important;
  font-weight: 550 !important;
}

/* Hovering part */
button:hover {
  background-color: #0062e6 !important;
}
.indBox:hover .btn {
  background-color: #0062e6 !important;
}
.indBox:hover {
  transform: translateY(-5px);
  transition: all 0.2s ease;
}

/* Responsive Web page - Desktop(800px) */
@media (min-width: 800px) {
  .Boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:58%;
    margin: 0 auto;
    column-gap:1.5rem;
  }
  .indBox {
    margin: 8vh auto;
    height: fit-content;
    width: 15rem;
  }
  button {
    margin-bottom: 15px;
    font-size:0.85rem !important;
  }
  ol
  {
    line-height:45px;
    font-size:0.95rem;
  }
}

/* Responsive Web page - Tab(800px) */

@media (max-width: 800px) {
  .Boxes {
    display: grid;
    grid-template-columns: 1fr;
  }
  .indBox {
    margin: 20px auto;
    width: 30rem;
  }
  hr {
    width: 29rem;
  }
  ol {
    padding-left: 20px;
    font-size:0.85rem;
  }
  .fa-times {
    margin-left: 5px;
  }
  .indBox:hover {
    transform: none;
  }
  button {
    width: 95%;
    margin: 10px 12px;
  }
}

/*Responsive Web page - Phone(380px) */
@media (max-width: 400px) {
  .indBox {
    width: 13rem;
    height:fit-content;
  }
  hr {
    width: 11rem;
  }
  button {
    margin: 10px 5px;
    width: 95%;
  }
  ol{
    font-size:0.8rem;
  }
}
